// Mixins

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}

// <3

.welcome {
  font-family: 'Fira Mono';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: .2em;
  margin: 1.1em 0 .2em;
}

.main-container {

}

.spacer-top {
  margin-top: 1.5em !important;
  margin-bottom: 0 !important;
}

.spacer-big {
  margin: 1.5em 0;
}

.subtext {
  font-size: .8em;
  margin: 1.75em 0;
  line-height: 1.75em;
}

.small {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.description {
  font-size: .8em;
}

.btn-flat {
  font-size: .8em;
  margin-top: .75em !important;
  &:focus {
    background: grey;
  }
}

// Materialize Fix

.collapsible {
  box-shadow: none !important;
}

/* label color */
.input-field label {
  color: #212121 !important;
  margin-top: 3px;
}
/* label focus color */
.input-field input:focus + label {
  color: #3f51b5 !important;
  margin-top: 3px;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
  }
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #3f51b5 !important;
}

.filled-in:checked + label:after {
  border: 2px solid #3f51b5 !important;
  background-color: #3f51b5 !important;
}
[type="checkbox"] + label {
  line-height: 1.5em !important;
}

// animate.css

.collapsible-header-two {
  animation-delay: .4s;
}
.collapsible-header-three {
  animation-delay: .8s;
}

// Progress Bar

.progress {
  border-radius: 0 !important;
  height: 2px !important;
}
