// <3

body {
  //background: url("back.jpg");
  @extend .grey;
  @extend .lighten-2;
  //background: linear-gradient(42deg, #3F51B5, #00bfa5) center center no-repeat fixed;
  font-family: 'Fira Sans';
  font-size: 18px;
}

h1 {
  font-size: 1.2em;
  margin: 1.5em 0 .25em;
}

h2 {
  font-size: .8em;
  @extend .grey-text;
  margin: .25em 0 1.75em;
}

strong {
  font-weight: 700;
}

@media only screen and (max-width : 993px) {
  .container {
    width: 90%;
  }
}

textarea {
  @extend .grey-text;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  height: 2.8rem !important;
}

.tab a {
  color: #212121 !important;
}

.tabs .indicator {
  background: #1a237e !important;
}

// Progress Bar
#iron-router-progress {
    background-color : #2D7BE1;
    box-shadow       : 0 0 10px rgba(66,66,66,.5);
}

#iron-router-progress.spinner:before {
    border-color : #2D7BE1;
}
