// <3

body {
  //background: url("back.jpg");
  @extend .blue-grey;
  font-family: 'Fira Sans';
  font-size: 18px;
}

h1 {
  font-size: 1.25em;
  margin: 2em 0 .4em;
}

h2 {
  font-size: .8em;
  @extend .grey-text;
  margin-top: .4em;
}

strong {
  font-weight: 700;
}

@media only screen and (max-width : 993px) {
  .container {
    width: 90%;
  }
}

textarea {
  @extend .grey-text;
}
